{% extends 'base.html.twig' %}

{% block body %}

<h1>Edit product</h1>
<a href={{ path('homepage') }}>home</a> <a href={{ path('product_index') }}>products</a>

{{ include('product/_form.html.twig') }}

{% endblock %}